
body {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    background-color: #000000;
    color: #ffffff;
    margin: 0 auto;
}

body * {
    margin: 0;
    border: 0;
    padding: 0;
  }

h1 {
    font-weight: 500;
    font-size: 3.6875rem;
    padding-top: 0.4375rem;
    padding-bottom: 0.4375rem;
}

h2 {
    font-weight: 500;
    font-size: 2.5rem;
    padding-bottom: 3.125rem;
    padding-top: 4.6875rem;
}

h4 {
    font-weight: 300;
    font-size: 1.5625rem;
    padding-top: 1.0125rem;
}
.img-header {
    width: 100%;
}

p {
    font-weight: 300;   
    text-align: left;
    display: inline-block;
    padding-top: 4.75rem;
    padding-left: 9.375rem;
    width: 29.6875rem;
}

.img-iguana-1 {
    width: 24.9375rem;
    height: 14.8125rem;
    display: inline-block;
    margin-left: 6.625rem;
    padding-right: 9.375rem;
    padding-top: 2.8125rem;
}

.iguana-container {
    height: 21.75rem;
}

.no-underline {
    text-decoration: none;
    color: #ffffff;
}

.icono-1 {
    display: inline-block;
    margin-left: 18.8125rem;
    padding-bottom: 4.625rem;
}

.icono-2 {
    display: inline-block;
    margin-left: 11.375rem;
    padding-bottom: 4.625rem;
}

.icono-3 {
    display: inline-block;
    margin-left: 9.1175rem;
    margin-right: 15.195rem;
    padding-bottom: 4.625rem;
}

.caracteristicas {
    background-color: #1E1A13;
}

.tres-iguanas-1 {
    width: 19.75rem;
    height: 12.625rem;
    display: inline-block;
    margin-left: 9.375rem;
}

.tres-iguanas-2 {
    width: 19.75rem;
    height: 12.625rem;
    display: inline-block;
    margin-left: 1rem;
}

.tres-iguanas-3 {
    width: 19.75rem;
    height: 12.625rem;
    display: inline-block;
    margin-left: 1rem;
    margin-right: 9.375rem;
}

.fotos-iguana {
    padding-top: 4.5625rem;
    padding-bottom: 4.5625rem;
}

footer {
    background-color: #1E1A13;
    padding-top: 2.4375rem;
    padding-bottom: 2.4375rem; 
}

footer h4 {
    font-size: 1.25rem;
}